<!DOCTYPE html>
<html>
<head>
    <title>Machine Learning</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
          integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" rel="stylesheet">
    <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet">
</head>
<body>
<div class="testbox">
    <form action="{{ url_for('predict')}}" method="post">
        <div class="banner">
            <h1>Fifa Player Rating Prediction</h1>
        </div>
        <br/>
        <fieldset>
            <legend>Player Features</legend>
            <div class="colums">
                <div class="item">
                    <label for="Age">Age<span>*</span></label>
                    <input id="Age" name="Age" step="any" type="number"/>
                </div>
                <div class="item">
                    <label for="Value">Value<span>*</span></label>
                    <input id="Value" name="Value" step="any" type="number"/>
                </div>
                <div class="item">
                    <label for="Wage">Wage<span>*</span></label>
                    <input id="Wage" name="Wage" step="any" type="number"/>
                </div>
                <div class="item">
                    <label for="Special">Special<span>*</span></label>
                    <input id="Special" name="Special" step="any" type="number"/>
                </div>
                <div class="item">
                    <label for="Weight">Weight<span>*</span></label>
                    <input id="Weight" name="Weight" step="any" type="number"/>
                </div>
                <div class="item">
                    <label for="Crossing">Crossing<span>*</span></label>
                    <input id="Crossing" name="Crossing" step="any" type="number"/>
                </div>
                <div class="item">
                    <label for="Finishing">Finishing<span>*</span></label>
                    <input id="Finishing" name="Finishing" step="any" type="number"/>
                </div>
                <div class="item">
                    <label for="HeadingAccuracy"> HeadingAccuracy<span>*</span></label>
                    <input id="HeadingAccuracy" name="HeadingAccuracy" step="any" type="number"/>
                </div>
                <div class="item">
                    <label for="SprintSpeed">SprintSpeed<span>*</span></label>
                    <input id="SprintSpeed" name="SprintSpeed" step="any" type="number"/>
                </div>
                <div class="item">
                    <label for="Reactions">Reactions<span>*</span></label>
                    <input id="Reactions" name="Reactions" step="any" type="number"/>
                </div>
                <div class="item">
                    <label for="Stamina">Stamina<span>*</span></label>
                    <input id="Stamina" name="Stamina" step="any" type="number"/>
                </div>
                <div class="item">
                    <label for="Aggression">Aggression<span>*</span></label>
                    <input id="Aggression" name="Aggression" step="any" type="number"/>
                </div>
                <div class="item">
                    <label for="Composure">Composure<span>*</span></label>
                    <input id="Composure" name="Composure" step="any" type="number"/>
                </div>
                <div class="item">
                    <label for="Release Clause">Release Clause<span>*</span></label>
                    <input id="Release Clause" name="Release Clause" step="any" type="number"/>
                </div>
                <div class="btn-block">
                    <button href="/" type="order">Predict</button>
                </div>
            </div>
        </fieldset>
        <br/>
        <fieldset>
            <legend>Model output</legend>
            <div class="colums">
            </div>
            <div class="checkbox">
                <p>Model prediction has been rounded to the nearest integer. The predicted player rating is:</p>
            </div>
            <div>
                <code>
                    {{ code_text }}
                </code>
            </div>
            <div class="pred">
                <p>{{ prediction_text }}</p>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>